.country {
  text-align: center;
  border: 2px solid greenyellow;
  border-radius: 8px;
  padding: 11px;
  background-color: gray;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.country img {
  width: 200px;
}
